.sidenav {
    position: absolute;
    left: 0px;
    width: 25%;
    height: 100%;
    border-right: 2px solid dodgerblue;
    font-size: 1rem;
    font-family:  Helvetica, Arial, sans-serif;
    overflow: scroll;

}

.sidenav ul {
    margin-left: 0px !important;
    padding-left: 0rem;

}

.sidenav li {
    margin-left: 0px !important;
    list-style-type: none;
    text-align: left;
    /* text-decoration: underline; */
    /* border-bottom: 1px solid gray; */
    /* padding-bottom: 5px; */
    padding-top: 5px;
    padding-left: 5px;
    font-weight: 200;
    width: 100%;
    color: rgba(0, 0, 0, 0.567);
}

.sidenav h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.867);
}

.nav_head {

}
.nav_link:hover {
    color: dodgerblue;
    background-color: rgba(128, 128, 128, 0.397);

}
.heading-5:hover {

}
hr {
    margin: 0px !important;
}

.container {
    height: 100%;
}

.nav_img {
width: 100%;
/* margin-top: 1rem;
margin-bottom: 2rem;
margin-right: 1rem; */
padding: 1.5rem 1rem 1rem 1rem;

}






.list-spacer {

display:inline-block; 
width: 25px;
}












@media only screen and (max-width: 800px) {
    .sidenav {
        width: 40%;
        font-size: small;
        font-family:  Helvetica, Arial, sans-serif;
    }
    .sidenav ul {
        padding-left: 0.5rem;
    
    }
    .sidenav h1, h2, h3, h4, h5, h6 {
        font-size: 1rem;
    }
    
  }




  @media only screen and (max-width: 500px) {
    .sidenav {
        display: none;
    }
    
  }



























  .main {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
  }

  .main h1,h2,h3,h4,h5,h6{
      margin: 0px !important
  }

  @media only screen and (max-width: 800px) {
    .main {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
      }
    
      @media only screen and (max-width: 500px) {
        .main {
        left: 0%;
        width:100%;
        }
        
      }
  }
  .accordion_container {
      width: 100%;
      overflow: scroll;
      height: 90% !important;
  }
.header {
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn-link-nav {
    /* font-size: large; */
    font-weight: 600;
}

.card-header-nav {
    background-color: rgba(128, 128, 128, 0.296);
}




.flex-center p {
    margin: 0;
    text-align: left;
}

.flex-center ul li {
    margin: 0;
    text-align: left;
    font-weight: 600 !important;

}

.card-title {
    font-weight: 600 !important;
}






/* codeblocks */
.code {
    background-color: #a9a9a969;
    padding: 2rem;
}




.list{
    margin-top: 2rem;
    padding: 1.25rem
}
.list ul li {
    font-weight: 300 !important;
}
.list h1,h2,h3,h4,h5,h6 {
    font-weight: 600 !important;

}



.inflation_container {
    width: 450px;
    height: 450px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.inflation_container img {
    width: 100%;
    height: 100%;
}



/*
 *  STYLE 3
 */

 .sidenav::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #F5F5F5;
 }
 
 .sidenav::-webkit-scrollbar
 {
     width: 6px;
     background-color: #F5F5F5;
 }
 
 .sidenav::-webkit-scrollbar-thumb
 {
     background-color: dodgerblue;
 }
 /*
 *  STYLE 3
 */

 .accordion_container::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #F5F5F5;
 }
 
 .accordion_container::-webkit-scrollbar
 {
     width: 6px;
     background-color: #F5F5F5;
 }
 
 .accordion_container::-webkit-scrollbar-thumb
 {
    background-color: dodgerblue;
}
 